asgiref==3.8.1
beautifulsoup4==4.12.3
distlib==0.3.8
Django==5.1.1
django-bootstrap==0.2.4
django-bootstrap5==25.1
feedparser==6.0.11
filelock==3.16.1
pillow==10.4.0
platformdirs==4.3.6
sgmllib3k==1.0.0
soupsieve==2.6
sqlparse==0.5.1
virtualenv==20.26.5