:root {
    --PrimaryDark: #171717;
    --SecondaryDark: #222222;
    --PrimaryYellow: #ebeb5d;
    --SecondaryYellow: #f4f296;
    --Outline: #323232;
    --Grey: #bdbdbd;
}
body {
    background-color: var(--PrimaryDark) !important;
    color: #E4E4E4 !important;
  }
/* Overrides */
.dropdown-item:hover {
    color: var(--PrimaryDark) !important;
    background-color: var(--PrimaryYellow) !important;
}
input::placeholder{
    color: var(--Grey) !important;
}
input, select, textarea{
    color: var(--Grey) !important;
}
/* Id's */
#aboutList{
    line-height: 18px !important;
}
#aboutList>li{
    margin-bottom: 7px;
}
#outer{
    max-width: 720px !important;
  }
#searchButton.btn:hover{
    background-color: var(--SecondaryYellow) !important;
    color: var(--PrimaryDark) !important;
}
#SiteSelector.btn:hover{
    background-color: var(--SecondaryYellow) !important;
    color: var(--PrimaryDark) !important;
}
#SiteSelector.btn.show {
    color: var(--PrimaryDark) !important;
    background-color: var(--SecondaryYellow) !important;
}
/* Classes */
.B_none{
    border: none !important;
}
.B_White{
    border: 1px solid var(--Outline) !important;
}
.BT_Yellow{
    border-top: 1px solid var(--PrimaryYellow);
}
.BG_PrimDark{
    background-color: var(--PrimaryDark) !important;
}
.BG_SecDark{
    background-color: var(--SecondaryDark) !important;
}
.BG_PrimYellow{
    background-color: var(--PrimaryYellow) !important;
}
.letterspace{
    letter-spacing: .75px !important;
}
.TC_PrimYellow{
    color: var(--PrimaryYellow) !important;
}
.TC_SecYellow{
    color: var(--SecondaryYellow) !important;
}
.TC_Black{
    color: var(--PrimaryDark);
}
.TC_White{
    color: #ffffff !important;
}
.TC_Grey{
    color: var(--Grey);
}
.TD_None{
    text-decoration: none !important;
}
.page-link{
    border: none !important;
}
