:root {
    --PrimaryDark: #121213;
    --SecondaryDark: #1C1C1E;
    --PrimaryYellow: #d6e752;
    --SecondaryYellow: #D7D992;
    --Outline: #4B4B4C;
    --Grey: #4B4B4C;
}
body {
    background-color: var(--PrimaryDark) !important;
    color: #E4E4E4 !important;
    line-height: 1.3 !important;
  }
/* Overrides */
.card-title>a{
    font-size: 4vw;
}
.card-text>a{
    font-size: 3vw;
}
.dropdown-item:hover {
    color: var(--PrimaryDark) !important;
    background-color: var(--PrimaryYellow) !important;
}
.page-link:hover{
    color: var(--PrimaryDark) !important;
}
input::placeholder{
    color: var(--Grey) !important;
}
input, select, textarea{
    color: var(--Grey) !important;
}
/* Id's */
#aboutList>li{
    margin-bottom: 9px;
    list-style-type: "—";
    padding-left: 6px;
}
#header>a>img{
    height: 40px;
}
#outer{
    max-width: 720px !important;
  }
#searchButton.btn:hover{
    background-color: var(--PrimaryYellow) !important;
    color: var(--PrimaryDark) !important;
}
#SiteSelector.btn:hover{
    background-color: var(--PrimaryYellow) !important;
    color: var(--PrimaryDark) !important;
}
#SiteSelector.btn.show {
    color: var(--PrimaryDark) !important;
    background-color: var(--PrimaryYellow) !important;
}
/* Classes */
.B_none{
    border: none !important;
}
.B_White{
    border: 1px solid var(--Outline) !important;
}
.B_Yellow{
    border: 1px solid var(--PrimaryYellow) !important;
}
.BT_Yellow{
    border-top: 1px solid var(--PrimaryYellow);
}
.BG_PrimDark{
    background-color: var(--PrimaryDark) !important;
}
.BG_SecDark{
    background-color: var(--SecondaryDark) !important;
}
.BG_PrimYellow{
    background-color: var(--PrimaryYellow) !important;
}
.drp{
    filter: drop-shadow(3px 3px 5px #000000);
}
.letterspace{
    letter-spacing: .75px !important;
}
.TC_PrimYellow{
    color: var(--PrimaryYellow) !important;
}
.TC_SecYellow{
    color: var(--SecondaryYellow) !important;
}
.TC_Black{
    color: var(--PrimaryDark);
}
.TC_White{
    color: #ffffff !important;
}
.TC_Grey{
    color: var(--Grey);
}
.TD_None{
    text-decoration: none !important;
}
.page-link{
    border: none !important;
}
/* Media Queries */
@media screen and (min-width: 600px) {
    .card-title>a{
        font-size: 20px;
    }
    .card-text>a{
        font-size: 16px;
    }
  }