<!-- Starting Tags -->
{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="container py-3">
    <span class="align-middle fs-3 TC_White">Welcome to Reconnect</span>
    <!-- Blurb -->
    <div class="card my-3 p-2 BG_SecDark">
        <p class="TC_White">
            Reconnect aggregates the feeds of a variety of different video game writers.</p>
        <p class="TC_White">
            The goal is to highlight the efforts of writers covering video games, games development, and the industry.</p>
        <p class="TC_White">
            To read more about my motivation for developing this site, feel free to read my <a class="TC_PrimYellow" href="https://reconnectrecap.substack.com/p/welcome-to-reconnect" target="_blank">Welcome to Reconnect</a> post</p>

    </div>
    <!-- Subscribe to Substack -->
    <div class="card my-3 p-2 BG_SecDark">
        <div class="row align-items-start">
            <div class="col-2">
                <img style="width: 70px; height: 70px;" src="media/SubstackLogo.png">
            </div>
            <div class="col">
                <h5 class="card-title TC_White">Get a weekly recap straight to your inbox!</h5>
                <P class="TC_White">Subscribe to the <a href="https://reconnectrecap.substack.com" class="TC_PrimYellow">Reconnect Recap Newsletter</a> and receive a weekly recap on the best articles showing up on Reconnect plus some other cool things I think you'll like.</P>
            </div>
        </div>
    </div>
    <!-- About the Authors -->
    <div class="card my-3 p-2 BG_SecDark">
        <span class="fs-2 TC_White">Micah Tabak</span>
        <p class="TC_White">
            I am an Aotearoa New Zealand-based designer who cares. Throughout my professional and personal work, I integrate design principles to demonstrate evidence-based design. 
            I place end-users at the heart of my work to produce tailored outcomes that solve real-world problems. 
            My work unites typography and illustration to create visually arresting pieces of design that are unconventional and thought-provoking. 
            Feel free to <a class="TC_PrimYellow" href="https://samuelgerardtabak.myportfolio.com/" target="_blank">explore my portfolio</a></p>
    </div>
    <div class="card my-3 p-2 BG_SecDark">
        <span class="fs-2 TC_White">Alex Antra</span>
        <p class="TC_White">
            I'm a queer, jack of some trades master of not a lot, based in Pōneke, Aotearoa. 
            By day, I'm a IT professional, and by night, I'm a writer, artist, developer, and hobbyist game dev. 
            Visit my <a class="TC_PrimYellow" href="www.antranaut.com">LinkTree</a> and see all of my work.
        </p>
    </div>
</div>
<!-- End Tags -->
{% endblock %}
<!-- # -->