<!-- Starting Tags -->
{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="container py-3">
    <div class="card my-3 p-2 BG_PrimDark B_none">
        <p class="text-center TC_Grey fs-1 fw-light pt-3 mb-2">About</p>
        <p class="TC_White text-center px-2">Reconnect aggregates the feeds of a variety of video game writers, with the goal of highlighting the efforts of writers covering video games, games development, and the industry.</p>
        <p class="TC_White text-center px-2">Reconnect offers <span class="TC_PrimYellow">{{a_count}}</span> articles accross <span class="TC_PrimYellow">{{s_count}}</span> sites</p>
        <p class="TC_White text-center px-2">To read more about my motivation for developing this site, feel free to read my <a class="TC_PrimYellow TD_None" href="https://reconnectrecap.substack.com/p/welcome-to-reconnect" target="_blank">Welcome to Reconnect</a> post</p>
    </div>
    <!-- Subscribe to Substack -->
    <div class="card my-3 p-2 BG_PrimDark B_none">
        <p class="text-center TC_Grey fs-1 fw-light pt-3 mb-2">Weekly Newsletter</p>
        <p class="TC_White text-center px-2">Subscribe to our newsletter to get a weekly recap of our favourite articles on the site plus some extra fun stuff and articles. All straight to your inbox.</p>
        <div class="m-auto pb-3">
        <button type="button" class="btn BG_PrimYellow" style="width: 100px;">
            <a class="TC_Black TD_None" href="https://reconnectrecap.substack.com" target="_blank">Subscribe</a>
        </button>
        </div>
    </div>
    <!-- Using the Site -->
    <div class="card my-3 p-2 BG_PrimDark B_none">
        <p class="text-center TC_Grey fs-1 fw-light pt-3 mb-2">Using the site</p>
        <ul id="aboutList" class="TC_White">
            <li>The website updates several times a day with new articles.</li>
            <li>Clicking on links increases that articles rank on the site.</li>
            <li>Clicking on the site name under the article title will take you to a page showing all articles by that site.</li>
            <li>Visit the <a class="TC_PrimYellow TD_None" href="/feeds" target="_blank">RSS page</a> to subscribe everything on Reconnect or a specific site via your RSS client of choice.</li>
            <li>Visit the <a class="TC_PrimYellow TD_None" href="/search" target="_blank">search page</a> to search accross our database of articles.</li>
            <li>Visit the secret <a class="TC_PrimYellow TD_None" href="/random" target="_blank">Random</a> page to browse through articles in random order.</li>
            <li>If you need to get in contact, hit me up on your <a class="TC_PrimYellow TD_None" href="http://www.antranaut.com" target="_blank">social media</a>.</li>
        </ul>
    </div>
    <!-- Micah -->
    <div class="card my-3 p-2 BG_PrimDark B_none">
        <p class="text-center TC_Grey fs-1 fw-light pt-3 mb-2">Designed by Micah Tabak</p>
        <p class="TC_White px-2 text-center">
            I am an Aotearoa-based designer who cares. Throughout my professional and personal work, I integrate design principles to demonstrate evidence-based design. 
            I place end-users at the heart of my work to produce tailored outcomes that solve real-world problems. 
            My work unites typography and illustration to create visually arresting pieces of design that are unconventional and thought-provoking. 
        </p>
        <div class="m-auto pb-3">
        <button type="button" class="btn BG_PrimYellow" style="width: 100px;">
            <a class="TC_Black TD_None" href="https://samuelgerardtabak.myportfolio.com" target="_blank">Portfolio</a>
        </button>
        </div>
    </div>
    <!-- Alex -->
    <div class="card my-3 p-2 BG_PrimDark B_none">
        <p class="text-center TC_Grey fs-1 fw-light pt-3 mb-2">Developed by Alex Antra</p>
        <p class="TC_White px-2 text-center">
            Also known as 'The Antranaut'. I'm a space obessed, queer, jack of some trades master of not a lot, based in Pōneke, Aotearoa. 
            By day, I'm a IT professional specialising in Data, and by night, I'm a writer, artist, developer, and hobbyist game dev. 
        </p>
        <div class="m-auto pb-3">
        <button type="button" class="btn BG_PrimYellow" style="width: 100px;">
            <a class="TC_Black TD_None" href="http://www.antranaut.com" target="_blank">Linktree</a>
        </button>
        </div>
    </div>
<!-- End Tags -->
{% endblock %}
<!-- # -->