<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Explore interesting articles covering games, development, and the industry.">
    <!-- Favicons -->
    <link rel="icon" type="image/png"  href="/media/Images/favicon.ico" sizes="any">
    <link rel="icon" type="image/png" sizes="32x32" href="/media/Images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/media/Images/favicon-16x16.png">
    <!-- Apple Touch -->
    <link rel="apple-touch-icon" sizes="180x180" href="/media/Images/apple-touch-icon.png">
    <!-- Safari -->
    <link rel="mask-icon" href="/media/Images/safari-pinned-tab.svg" color="#5bbad5">
    <!-- Windows -->
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!-- Webmanifest -->
    <link rel="manifest" href="/media/site.webmanifest">
    <title>Reconnect</title>
    {% load django_bootstrap5 %}
    {% load static %}
    {% bootstrap_javascript %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}" />  
</head>
  <body>
    <div id="outer" class="container px-0">
    <!-- Navigation -->
    <div class="container sticky-top py-3 BG_PrimDark" style="min-height: 60px;">
    {% include "navigation.html" %}
    </div>
    <!-- Content -->
    {% block content %} {% endblock %}
    </div>
  </body>
  <script>
    // Voting 
    async function castVote(id,session,csrf_token){
        // Link Click
        const vote = new Request(
            "/vote/l/"+id+"/"+session+"/",
                {
                method: 'POST',
                headers: {'X-CSRFToken': csrf_token},
                mode: 'same-origin' // Do not send CSRF token to another domain.
                }
            )
        fetch(vote)
    }
  </script>
</html>