<!-- Starting Tags -->
{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="container py-3 TC_White">
    <div class="card my-3 p-2 BG_PrimDark B_none">
        {% for i in moreInfo %}
        <p class="text-center TC_White fs-2 pt-2">{{i.name}}</p>
        <p class="TC_Grey text-center px-2">{{i.description}}</p>
        {% endfor %}
    </div>
    <!-- Site Selector -->
    <div class="container">
    <div class="row my-2 position-relative" style="height: 50px;">
        <div class="col-4">
        </div>
        <div class="col">
            <div class="dropdown position-absolute top-0 end-0">
                <button class="btn BG_PrimYellow dropdown-toggle" type="button" id="SiteSelector" data-bs-toggle="dropdown" aria-expanded="false">
                  Select Site
                </button>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark BG_SecDark B_White" aria-labelledby="dropdownMenuButton1">    
                {% for s in moreSelect %}
                  <li><a class="dropdown-item" href="/more/{{s.pk}}">{{s.name}}</a></li>
                  {% endfor %}
                </ul>
              </div>
        </div>
    </div>
    </div>
    <!-- Results -->
    {% include "content.html" %}
</div>
<!-- End Tags -->
{% endblock %}
<!-- # -->