<nav aria-label="Page navigation">
    <div class="row">
        <div class="col">
            {% if filtr == 2 %}
                <div></div>
            {% else %} 
            <ul class="pagination pagination-lg justify-content-start">
                {% if page_obj.has_previous %}
                  <li class="page-item"><a class="page-link BG_SecDark TC_PrimYellow" href="?page={{ page_obj.previous_page_number }}"><</a></li>
                {% endif %}
            {% endif %}
            </ul>
        </div>
        <div class="col col-6 justify-content-center">
            <div class="text-center TC_Grey"><small class="align-top">Developed by <a class="TC_Grey" href="www.antranaut.com" target="_blank">Alex Antra</a> <br> Designed by <a class="TC_Grey" href="https://samuelgerardtabak.myportfolio.com/" target="_blank">Micah Tabak</a></small></div>
        </div>
        <div class="col">
            <ul class="pagination pagination-lg justify-content-end">
            {% if filtr == 2 %}
                <div></div>
            {% else %}
                {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link BG_SecDark TC_PrimYellow B_White" href="?page={{ page_obj.next_page_number }}">></a></li>
                {% endif %}
              {% endif %}
            </ul>
        </div>