<!-- Starting Tags -->
{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="container py-3 TC_White">
    <div class="card my-3 p-2 BG_PrimDark B_none">
        <p class="text-center TC_Grey fs-1 fw-light pt-3 mb-2">Search</p>
        <p class="TC_White text-center px-2">Search will look for keywords in article titles and website names</p>
    <form action="{% url 'search' %}" method="POST">
    <div class="input-group mb-3">
        {% csrf_token %}
        <input type="text" class="form-control rounded-start BG_PrimDark B_Yellow" placeholder="Enter search terms" name="Search Terms" type="text"  aria-label="searchButton">
        <button id="searchButton" class="btn BG_PrimYellow" type="submit" id="button-addon2">Search</button>
      </div>
    </form>
    </div>
    <!-- Results -->
    <div class="container py-3 px-0">
        {% include "content.html" %}
    </div>
</div>
<!-- End Tags -->
{% endblock %}
<!-- # -->